<div class="side">
  <a href="/{{ username }}">
    <img class="profile-pic" src="{% if profile_pic_url %}{{ profile_pic_url }}{% else %}http://placehold.it/350x350{% endif %}" alt="" />
  </a>
  <div class="background-image"></div>

  <h3 class="full-name">{% if name %}{{ name }}{% else %}Name Here!{% endif %}</h3>
  <hr>
  <nav class="page-links">
    <a href="/{{ username }}">Home</a>
    <a href="/{{ username }}/projects">Projects</a>
    <a href="/{{ username }}/contact">Contact</a>
    {% if loggedInUser and loggedInUser.username | lower == username |lower %}
    <a href="/{{ loggedInUser.username }}/dashboard">
      Dashboard
    </a>
    {% endif %}
  </nav>
  <hr>
  <nav class="social-links">
    {% if twitter %}
    <a href="https://twitter.com/{{ twitter }}" target="_blank">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
    {% endif %}
    <a href="https://github.com/{{ username }}" target="_blank">
      <i class="fa fa-github" aria-hidden="true"></i>
    </a>
    {% if linkedin %}
    <a href="https://linkedin.com/in/{{ linkedin }}" target="_blank">
      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
    </a>
    {% endif %}
  </nav>
</div>
