a {
  color: #4d4f52;
}
a:hover{
  text-decoration: none;
}
body {
  background-color: rgba(107, 142, 167, 0.21);
}
.side {
  text-align: center;
  color: #fafafa;
  font-family: 'Gudea', sans-serif;
}
.side h3 {
  font-family: 'Gudea', sans-serif;
  z-index: 2;
}
.background-image {
  width: 100%;
  height: 300px;
  position: absolute;
  top: -20px;
  opacity: 0.7;
  background-position: 35% 65%;
  background-size: cover;
  z-index: -1;
}
.profile-pic {
  z-index: 1;
  border-radius: 50%;
  height: 150px;
  width: auto;
  margin: 10px 0px 10px 0px;
  position: relative;
}
.projectsLink {
  z-index: 2;
  text-align: center;
  top: -70px;
  left: -67px;
  background-color: #ADF7B6;
  display: inline-block;
  line-height: 100px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: 0px;
  position: absolute;
}
.contactsLink {
  z-index: 2;
  text-align: center;
  top: -30px;
  right: -67px;
  background-color: #FFC09F;
  display: inline-block;
  line-height: 100px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: 0px;
  position: absolute;
}
.social-links {
  z-index: 2;
  position: relative;
}
.side h3 {
  margin-top: 0px;
}
.navgroup {
  position: relative;
  display: inline;
}
