a {
  color: #4d4f52;
}
a:hover{
  text-decoration: none;
  color: #79ADDC
}
.side {
  text-align: center;
}
.profile-pic {
  z-index: 2;
  border: 12px solid #FCF5C7;
  text-align: center;
  border-radius: 50%;
  height: 200px;
  width: auto;
  margin: 10px 0px 10px 0px;
  position: relative;
}
.projectsLink {
  z-index: 3;
  text-align: left;
  padding-left: 12px;;
  top: -70px;
  left: -67px;
  background-color: #79ADDC;
  display: inline-block;
  line-height: 100px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: 0px;
  position: absolute;
}
.contactsLink {
  z-index: 1;
  padding-right: 12px;;
  top: -30px;
  right: -67px;
  background-color: #FFC09F;
  display: inline-block;
  line-height: 100px;
  text-align: right;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: 0px;
  position: absolute;
}
.side h3 {
  margin-top: 0px;
}

.navgroup {
  position: relative;
  display: inline;
}
