.contactsLink {
  border: 5px solid #79ADDC;
  line-height: 90px;
}

#success-message {
  display: none;
  color: rgba(85, 97, 94, 0.53);
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 22px;
  border-radius: 5px;
  background-color: #ADF7B6;
  border-color: #ADF7B6
}

#fail-message {
  display: none;
  background-color: #FFC09F;
  border-color: #FFC09F;
  color: rgba(85, 97, 94, 0.53);
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 22px;
  border-radius: 5px;
}

.btn {
  background-color: #79ADDC;
  border-color: #79ADDC;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 22px;
}

label {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 22px;
}
