{% extends "_base.html" %}

{% block title %}{% endblock %}
{% block css %}<link rel="stylesheet" href="/css/themes/tommy/tommy.css">{% endblock %}
{% block content %}

  {% include "./_side.html" %}

  <div class="main">
    <h1>Projects</h1>
    {% for project in projects %}
      <h2>{{project.project_name}}</h2>
      <p>
        <a href="{{project.github_url}}">GitHub Repo</a>
      </p>
      <p>
        Written with: {{project.tools_languages}}
      </p>
      <p>
        description: {{project.description}}
      </p>
    {% endfor %}
  </div>


{% endblock %}
