/*-------- theme styles --------*/
img {
  width: 100%;
}
p a, h2 a {
  color: black;
}
p a:hover, h2 a:hover {
  color: #79ADDC;
}
.fa-twitter:hover {
  color: #1DA1F2;
}
.fa-linkedin-square:hover {
  color: #0077B5;
}
.fa-github:hover {
  color: lightgrey;
}
.main {
  background-image: url('../../../img/pw_maze_white.png');
  min-height: 100vh;
}
.main, .page-links {
  font-family: 'Muli', sans-serif;
}
.title {
  font-weight: bold;
  font-size: 6rem;
}

/*-------- side --------*/

.profile-pic {
  margin-top: 45px;
  width: 60%;
  border-radius: 50%;
  border: 3px solid white;
  z-index: 1;
}

.background-image {
  width: 40%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  opacity: 0.6;
  background-position: right;
  background-size: cover;
  z-index: -1;
  background-image: url('../../../img/building.jpeg');
}

.side {
  width: 40%;
  height: 100%;
  padding: 6%;
  padding-top: 30px;
  position: fixed;
  right: 0;
  top: 0;
  color: white;
  text-align: center;
  z-index: -1;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0px 0px 5px #333;
}

.side h3 a {
  color: white;
  text-shadow: 1px 1px dimgrey;
}

.page-links a {
  display: block;
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
  text-shadow: 1px 1px dimgrey;
}

.social-links {
  text-align: center;
}

.social-links a {
  color: white;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 20px;
}

.social-links a:link {
  text-decoration: none;
}

.social-links a:visited {
  text-decoration: none;
}

.social-links a:hover {
  text-decoration: none;
}

.social-links a:active {
  text-decoration: none;
}

/*-------- header --------*/

li.mobile-only {
  display: none;
}

/*-------- main --------*/

.main {
  padding: 60px 100px;
  margin-right: 40%;
  width: 60%;
  float: left;
}

p {
  font-size: 17px;
  line-height: 25px;
}

textarea {
  resize: none;
}

/*-------- media queries --------*/

@media (max-width: 767px) {

  li.mobile-only {
    display: block;
  }

  h3 {
    margin-top: 10px;
  }

  .page-links a {
    margin: 10px 10px 20px;
    font-size: 12px;
  }
  .page-links {
    display: inline-flex;
    justify-content: space-between;
  }

  hr {
    display: none;
  }

  .profile-pic {
    margin-top: 60px;
    width: 100px;
  }

  .background-image {
    width: 100%;
    height: 300px;
    position: absolute;
    top: 0;
    background-position: center center;
  }

  .side {
    width: 100%;
    height: 300px;
    position: relative;
    padding: 0;
    top: 0;
  }

  .main {
    position: relative;
    margin: 0;
    float: 0;
    width: 100%;
    padding: 15px;
    padding-top: 0;
    margin-right: auto;
    margin-left: auto;
  }
}
