{% extends "_base.html" %}

{% block title %}{% endblock %}
{% block css %}
<link rel="stylesheet" href="/css/themes/alex/alex.css">
<link rel="stylesheet" href="/css/themes/alex/projects.css">
{% endblock %}
{% block content %}

  {% include "./_top.html" %}

  <div class="main container">
    <div class="row">
      <div class="title_div col-md-5 col-md-offset-1">
        <h3>Projects</h3>
      </div>
      <div class="proj_div col-md-5">
        {% for project in projects %}
        <div class="proj col-md-12 ">
          <h2 class='deployed'>{% if project.deployed_url %}<a href="{{ project.deployed_url }}">{% endif %}{{project.project_name}}{% if project.deployed_url %}</a>{% endif %}</h2>
          <p class="repo">
            <a href="{{project.github_url}}">GitHub Repo</a>
          </p>
          <p class="language">
            Written with: {{project.tools_languages}}
          </p>
          <p class="description">
            {{project.description}}
          </p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
