{% include "./resources.html" %}

{% extends "_base.html"%}

{% block css %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.js"></script>
<link rel="stylesheet" href="/css/themes/isaac/main.css">
{% endblock %}

{% block content %}
<div class="container extra_body_bottom">
  <h1><a class="text_username social_link" href="/{{ username }}">{% if name %}{{ name }}{% else %}Name Here!{% endif %}</a></h1>

  <nav class="social-links">
    {% if twitter %}
    <a class="social_link" href="https://twitter.com/{{ twitter }}" target="_blank">
      <i class="fa fa-twitter" aria-hidden="true"> My Twitter</i>
    </a>
    {% endif %}
    <a class="social_link" href="https://github.com/{{ username }}" target="_blank">
      <i class="fa fa-github" aria-hidden="true"> My Github</i>
    </a>
    {% if linkedin %}
    <a class="social_link" href="https://linkedin.com/in/{{ linkedin }}" target="_blank">
      <i class="fa fa-linkedin-square" aria-hidden="true"> My Linkedin</i>
    </a>
    {% endif %}
  </nav>
<hr>

  <div class="container">
    <a class="col-md-3" href="/{{ username }}">
      <img class="main-user-pic" src="{% if profile_pic_url %}{{ profile_pic_url }}{% else %}http://placehold.it/350x350{% endif %}" alt="" />
    </a>

<!-- projects content -->
    <div class="col-md-9">
      <h1 class="text_project_name">Projects</h1>
      {% for project in projects %}
        <h2 class="text_project">{% if project.deployed_url %}<a href="{{ project.deployed_url }}">{% endif %}{{project.project_name}}{% if project.deployed_url %}</a>{% endif %}</h2>
        <p>
          <a class="text_project_name social_link" href="{{project.github_url}}">Link To My GitHub Repo</a>
        </p>
        <p class="text_project_name">
          This Project was Designed with: {{project.tools_languages}}
        </p>
        <p class="text_project_name">
          description: {{project.description}}
        </p>
      {% endfor %}
    </div>
  </div>
  <hr>
</div>

{% include "./footer.html" %}

{% endblock %}
