<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">SiteKite</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        {% if username %}
          <li class="mobile-only">
            <a href="/{{ username }}">Home</a>
          </li>
          <li class="mobile-only">
            <a href="/{{ username }}/projects">Projects</a>
          </li>
          <li class="mobile-only">
            <a href="/{{ username }}/contact">Contact</a>
          </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{username}}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/{{username}}/dashboard">Dashboard</a></li>
          </ul>
        </li>
        {% else %}
        <li><a href="/auth/github">Log In</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
