{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}

  {% include "_side.html" %}

  <div class="main">
    <h1>Contact</h1>

    <p>{% if contact_desc %}{{ contact_desc }}{% else %}
      Yr sartorial lomo, kombucha four loko truffaut kogi meggings whatever deep v before they sold out.
      {% endif %}
    </p>

    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="">
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="">
      </div>
      <div class="form-group">
        <textarea class="form-control" rows="5"></textarea>
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>

{% endblock %}
