{% extends '_base.html' %}

{% block title %}{% endblock %}
{% block css%}
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/auth.css">
{% endblock%}

{% block content %}

<div class="jumbotron text-center vertical-center">
  <h1>Please sign in to continue.</h1>
  <br>
  <a class="github-signin" href="/auth/github">
    <i class="fa fa-github" aria-hidden="true"></i> Sign in with Github
  </a>
  <br>
  <a href="/" class="go-home">« Or go back to the homepage</a>
</div>

{% endblock %}
