{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block css%}
<link rel="stylesheet" href="/css/index.css">
{% endblock %}

{% block content %}

  <div class="jumbotron text-center vertical-center">
    <h1>Making a Portfolio Sucks</h1>
    <h2>Let us do it for you</h2>
    <a class="github-signin" href="/auth/github">
      <i class="fa fa-github" aria-hidden="true"></i> Sign in with Github
    </a>
  </div>

  <div class="container-fluid themes">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Themes</h1>
        <p class="text-center">We have 6 Beautiful pre-built themes to make your website stun anyone who sees it!</p>
        <p class="text-center">Here are 3 of them</p>
      </div>
    </div>
    <div class="row theme-row1">
      <div class="col-md-6">
        <h2 class="text-center">Clean</h2>
        <p class="text-center">A simple yet elgegant theme designed by Tommy</p>
      </div>
      <div class="col-md-6">
        <img src="../img/theme1.jpg" alt="" />
      </div>
    </div>
    <div class="row theme-row2">
      <div class="col-md-6">
        <img src="../img/theme2.jpg" alt="" />
      </div>
      <div class="col-md-6">
        <h2>Clean</h2>
        <p>A simple yet elgegant theme designed by Tommy</p>
      </div>
    </div>
    <div class="row theme-row3">
      <div class="col-md-6">
        <h2>Clean</h2>
        <p>A simple yet elgegant theme designed by Tommy</p>
      </div>
      <div class="col-md-6">
        <img src="../img/theme3.jpg" alt="" />
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <h1 class="text-center team-text">Our Team</h1>
    <div class="row">
      <div class="col-sm-4 margin-team">
        <a href="https://github.com/abglassford" class="team-link">
          <img class="portrait" src="https://avatars3.githubusercontent.com/u/18131395?v=3&s=466" alt="" />
          <h3><i class="fa fa-github" aria-hidden="true"></i> Alex</h3></a>
      </div>
      <div class="col-sm-4 margin-team">
        <a href="https://github.com/AustinMahan" class="team-link">
          <img class="portrait" src="https://avatars1.githubusercontent.com/u/14284623?v=3&s=466" alt="" />
          <h3><i class="fa fa-github" aria-hidden="true"></i> Austin</h3></a>
      </div>
      <div class="col-sm-4 margin-team">
        <a href="https://github.com/Isaacjcollier" class="team-link">
          <img class="portrait" src="https://avatars1.githubusercontent.com/u/12588119?v=3&s=466" alt="" />
          <h3><i class="fa fa-github" aria-hidden="true"></i> Isaac</h3></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 margin-team col-sm-offset-2">
        <a href="https://github.com/johnmberger" class="team-link">
          <img class="portrait" src="https://avatars3.githubusercontent.com/u/15810385?v=3&s=466" alt="" />
          <h3><i class="fa fa-github" aria-hidden="true"></i> John</h3></a>
      </div>
      <div class="col-sm-4 margin-team">
        <a href="https://github.com/tommygaessler" class="team-link">
          <img class="portrait" src="https://avatars0.githubusercontent.com/u/5123292?v=3&s=466" alt="" />
          <h3><i class="fa fa-github" aria-hidden="true"></i> Tommy</h3></a>
      </div>
    </div>
  </div>

{% endblock %}
