{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}

  <div class="container">
    <h1>Welcome!</h1>
    <h2>Tell us a little about yourself...</h2>
    <form class="new_user" action="/new" method="post">
      <div class="form-group">
        <label for="preferred_name">Preferred Name</label>
        <input class="form-control" type="text" name="preferred_name" value="">
      </div>
      <div class="form-group">
        <label for="last_name">Last Name</label>
        <input class="form-control" type="text" name="last_name" value="">
      </div>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input class="form-control" type="email" name="email" value="">
      </div>
      <div class="form-group">
        <label for="profile_pic_url">Profile Picture URL</label>
        <input class="form-control" type="text" name="profile_pic_url" value="">
      </div>
      <div class="form-group">
        <label for="background_pic_url">Background Picture URL</label>
        <input class="form-control" type="text" name="background_pic_url" value="">
      </div>
      <div class="form-group">
        <label for="twitter_username">Twitter Username</label>
        <input class="form-control" type="text" name="twitter_username" value="">
      </div>
      <div class="form-group">
        <label for="linkedin_username">Linkedin Username</label>
        <input class="form-control" type="text" name="linkedin_username" value="">
      </div>
      <div class="form-group">
        <label for="bio_desc">Short Bio</label>
        <input class="form-control" type="text" name="mini_bio" value="">
      </div>
      <div class="form-group">
        <label for="contact_desc">Contact Description?</label>
        <input class="form-control" type="text" name="mini_bio" value="">
      </div>
      <input type="text" name="username" value="{{username}}" hidden="true">
      <button type="submit" name="button">Submit</button>
    </form>
  </div>

{% endblock %}
