<div class="col-md-3 main">
  <h1>The {{username}} Home Page</h1>
    <a href="/{{ username }}">Home</a>
    <br>
    <a href="/{{ username }}/projects">Projects</a>
    <br>
    <a href="/{{ username }}/contact">Contact</a>
  <hr>
  <nav class="social-links">
    {% if twitter %}
    <a href="https://twitter.com/{{ twitter }}" target="_blank">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
    {% endif %}
    <a href="https://github.com/{{ username }}" target="_blank">
      <i class="fa fa-github" aria-hidden="true"></i>
    </a>
    {% if linkedin %}
    <a href="https://linkedin.com/in/{{ linkedin }}" target="_blank">
      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
    </a>
    {% endif %}
  </nav>
</div>
