.pinned-project-info {
  display: none;
}
#manual{
  display: block;
}
.preview-button {
  cursor: pointer;
  padding: 3px 8px;
}
#profile_pic {
  width: 21px;
}

form .btn {
  margin-top: 21px;
}

.margin-bottom {
  margin-bottom: 50px;
}
