.pinned-project-info {
  display: none;
}
#manual{
  display: block;
}
.preview-button {
  cursor: pointer;
  padding: 3px 8px;
}
#profile_pic {
  width: 21px;
}

#projects {
  display: inline-block;
}

form.pull-right {
  margin-bottom: 10.5px;
}

@media (max-width: 767px) {
  form.pull-right {
    float: none !important;
  }
}

form .btn {
  margin-top: 21px;
}

.margin-bottom {
  margin-bottom: 50px;
}

.fa-trash, .fa-pencil, .fa-plus {
  margin: 0 25px;
  cursor: pointer;
}
