.dev {
  background-color: dimgray;
}

.portrait {
  display: block;
  margin: auto;
  padding-top: 10px;
  border-radius: 50%;
  width: 150px;
}

.devDiv {
  display: block;
  background-color: #ADF7B6;
  height: 350px;
  margin: 23px;
}

.devDiv a {
  color: black;
  text-align: center;
  text-decoration: none;
}
