.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.navbar .navbar-toggle:hover .icon-bar {
  background-color: white;
}

.navbar-default .dropdown-menu {
  background-color: transparent;
  border: 1px solid white;
}

.navbar-default .dropdown-menu>li>a:hover {
  background-color: transparent;
  color: #79ADDC;
  transition: all .2s ease-in;
}

.dropdown-menu {
  box-shadow: none;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #FFC09F;
  transition: all .2s ease-in;
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
    background-color: transparent !important;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:active, .navbar-default .navbar-nav>.open>a:link, .navbar-default .navbar-nav>.open>a:visited {
  background-color: transparent;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  background-color: transparent;
}

h2 {
  margin-bottom: 30px;
}

h3 {
  text-align: center;
}

.github-signin {
  color: white;
  padding: 10px 20px;
  background-color: #79ADDC;
  font-size: 25px;
  border-radius: 10px;
  transition: all .2s ease-in;
}

.github-signin:link {
  text-decoration: none;
  color: white;
}

.github-signin:visited {
  text-decoration: none;
  color: white;
}

.github-signin:hover {
  text-decoration: none;
  background-color: #FFC09F;
  color: white;
}

.github-signin:active {
  text-decoration: none;
  color: white;
}

.github-signin i {
  padding: 0;
  padding-right: 8px;
}

.portrait {
  width: 50%;
  margin: auto;
  display: block;
  border-radius: 50%;
}

.team-text {
  margin-top: 50px;
  margin-bottom: 50px;
}

.margin-team {
  margin-bottom: 40px;
}

.team-link {
  transition: all .2s ease-in;
  color: #79ADDC;
}

.team-link:hover {
  color: #FFC09F;
  text-decoration: none;
}

.jumbotron {
  background-image: url('../img/kite.jpg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
  padding: 0;
  margin: 0;
}

.themes .col-md-12 p {
  font-size: 17px;
}

.themes .col-md-12 h1 {
  margin-bottom: 30px;
}

.theme-row1 {
  background-color: #ADF7B6;
}

.theme-row2 {
  background-color: #FFEE93;
}
.theme-row3 {
  background-color: #79ADDC;
}

.themes img {
  width: 100%;
}

.theme-row1 h2 {
  font-size: 45px;
}

.theme-row2 h2 {
  font-size: 45px;
}

.theme-row3 h2 {
  font-size: 45px;
  color: white;
}

.theme-row1 p {
  font-size: 20px;
}

.theme-row2 p {
  font-size: 20px;
}

.theme-row3 p {
  color: white;
  font-size: 20px;
}

.themes .row {
  padding: 40px;
}

@media only screen and (max-width : 768px) {
  /*.navbar-collapse {
    background: black;
    text-align: center;
  }*/
}

.navbar {
  position: absolute;
  background-color: transparent;
}
